/* Resetting default margin and padding */
* {
  /* margin-left: auto;
    margin-right: auto; */
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* Basic styles */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: solid 1px;
  border-color: grey;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(185, 185, 185);
}

header {
  width: 100%;
  height: auto;
  background-color: rgb(11, 11, 54);
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 1px;
  padding: 20px;
  /*display: flex;
  justify-content: space-between;
  flex-direction: column;*/
}

.header input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}

.main {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 800px;
  margin: 0 auto;
}

.main .analytics {
  position: absolute;
  right: 416px;
  padding: 10px;
  width: 32%;
  height: 374px;
  margin-top: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.map {
  display: flexbox;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 800px;
  margin: 0 auto;
}

.map .analytics {
  position: absolute;
  flex-direction: column;
  padding: 10px;
  width: 24rem;
  height: 374px;
  margin-top: -20px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.main-high-building {
  display: flexbox;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  max-width: 800px;
  margin: 0 auto;
}

.main-high-building .high-building {
  border-radius: 8px;
  position: absolute;
  /*flex-direction: column;*/
  padding: 10px;
  width: 28rem;
  height: 374px;
  left: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  text-align: center;
}

.main-high-building .lower-building {
  border-radius: 8px;
  display: inline-block;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: 28rem;
  height: 374px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  margin-top: -76px;
}

.main-high-building .analytics {
  position: absolute;
  flex-direction: column;
  padding: 10px;
  width: 24rem;
  height: 374px;
  right: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  margin-top: -35px;
}
.card {
  position: absolute;
  top: 200px;
  width: calc(100% - 225px);
  left: 225px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  margin-top: 0.5px;
  margin-bottom: 8rem;
  padding-left: 10px;
}
.content .box {
  position: absolute;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  background-color: #ffffff;
  font-size: 15px;
  width: 19%;
  max-width: 319px;
  height: auto;
  left: 40px;
  padding-top: 4px;
  padding-left: 20px;
  margin-top: -40px;
}

.box h3 {
  text-align: left;
}

.box p {
  text-align: left;
  font-size: 20px;
}

article {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  flex-basis: 45%;
}

.analytics {
  border-radius: 8px;
  text-align: center;
}

.chart {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

footer {
  margin-top: 35%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img-top {
  width: 280px;
  height: auto;
}

.img-map {
  width: auto;
  height: 230px;
}

.chart-container {
  width: 100%;
  /* height: 150px; */
  position: relative;
}

.top-building {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 300px;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: -165px;
  padding: 10px;
  text-align: center;
}

#date {
  border-radius: 15px;
  border: 1px solid #8f8a8a;
  height: 30px;
  width: 135px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  text-align: center;
  background-color: rgb(11, 11, 54);
  color: rgb(255, 255, 255);
}
#borough {
  border-radius: 15px;
  border: 1px solid #8f8a8a;
  height: 30px;
  width: 135px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  text-align: center;
  background-color: rgb(11, 11, 54);
  color: whitesmoke;
}
.filter {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 230px;
  margin-right: 10px;
  gap: 10px;
  padding: 10px;
  text-align: center;
  color: rgb(24, 23, 23);
  font-size: 15px;
}
.filter a {
  position: relative;
  left: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 10px;
  gap: 10px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  color: black;
  background-color: #03f7ff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.filter a:hover {
  background-color: darkgray;
}
.wrapper {
  display: flex;
}

.sidebar {
  border-radius: 30px;
  width: 225px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 50px;
  bottom: 100px;
  left: 20px;
  height: 85vh;
  transition: all 0.5s ease;
}

.profile {
  margin-bottom: 30px;
  text-align: center;
}

.profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile h3 {
  color: #000000;
  margin: 10px 0 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile a {
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-decoration: none;
}
.profile a:hover,
.profile a.active {
  color: #000000;
  background: #eaf9ff;
  border-radius: 4px;
}

.sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #000000;
  background: #eaf9ff;
  /* border-right: 2px solid rgb(5, 68, 104); */
  border-radius: 8px;
}

.sidebar ul li a:hover.icon,
.sidebar ul li a.active.icon {
  color: #0c7db1;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
  display: block;
}

@media screen and (min-width: 1200px) {
  .container_box {
    grid-template-columns: repeat(3, 1fr);
  }

}
