/* Resetting default margin and padding */
* {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: Poppins;
}

/* Basic styles */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    border: solid;
    border-color: grey;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-image: url(/img/background_header.jpg);
    padding: 10px;
}

.header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 1px;
}

nav {
    display: flex;
    background-color: #a976da;
    box-shadow: whitesmoke;
}

nav .filter{
    flex: 1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    padding-right: 30px;
    padding-left: 30px;
    color: #fff;
    text-decoration: solid;
}

main {
    padding: 4px
}

.container_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.box {
    background-color: lightseagreen;
    padding: 20px;
}

.report-list ul li {
    display: flexbox;
    background-color: #00000049;
    color: #f0f0f0;
    border-radius: 10px;
    margin-top: 15px;
    margin-top: 10px;
    padding-bottom: 3px;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.icon-header{
    width: 50px;
    height: auto;
    margin-top: 0%;
}

/* Responsive styles */

@media screen and (max-width: 480px) {
    nav{
        display: block;
    }
    .container_box {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    } 
}

@media screen and (max-width: 768px) {
    .container_box {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


@media screen and (min-width: 1200px) {
    .container_box {
        grid-template-columns: repeat(3, 1fr);
    }
} 
