/* Resetting default margin and padding */
* {
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Poppins", sans-serif;
  border: solid 1px;
  border-color: grey;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(185, 185, 185);
}

header {
  width: 100%;
  height: 100%;
  background-image: url(/img/BG-Header.png);
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  margin-top: 1px;
  padding: 20px 0 5px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
main {
  margin-left: 255px;
  isolation: isolate;
}
.main {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: row;
  /* flex-wrap: wrap; */
  border-radius: 8px;
}

article.analytics {
  padding: 10px;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}
article .chart-container {
  width: 100%;
  height: 100%;
}
.main-section {
  width: 100%;
}
.map-wrapper {
  width: 100%;
}
.map {
  padding: 10px;
  height: 400px;
  margin-top: 20px;
  margin-right: 0;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}
.map-wrapper h2 {
  text-align: center;
}
section.top-building {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  gap: 10px;
}

.main-high-building {
  /* flex: 1; */
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.main-high-building .high-building {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  height: 374px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
  text-align: center;
}

.main-high-building .lower-building {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 374px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.main-high-building .avg {
  padding: 10px;
  width: 100%;
  height: 374px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}
.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 230px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 1.5rem;
}

.trend {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.text {
  font-size: 0.8rem;
}

article {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  /* flex-basis: 45%; */
}

.analytics {
  border-radius: 8px;
  text-align: center;
}

.chart {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

footer {
  margin-top: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.img-top {
  width: 280px;
  height: auto;
}

.img-map {
  width: auto;
  height: 230px;
}

/* .chart-container {
  width: 100%;
} */

.date {
  border-radius: 15px;
  border: 1px solid rgb(11, 11, 54);
  background-color: #ffffff;
  color: rgb(11, 11, 54);
  height: 30px;
  width: 135px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  text-align: center;
}
#borough-filter {
  border-radius: 15px;
  border: 1px solid rgb(11, 11, 54);
  background-color: #ffffff;
  color: rgb(11, 11, 54);
  height: 30px;
  width: 135px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 230px;
  margin-right: 10px;
  gap: 10px;
  padding: 10px;
  text-align: center;
  color: rgb(24, 23, 23);
  font-size: 15px;
}
.filter-list {
  display: flex;
}
.filter a {
  /* position: relative;
  left: 45%; */
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 100px; */
  margin-right: 10px;
  font-size: 15px;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  color: black;
  background-color: #3cddec;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.filter a:hover {
  background-color: darkgray;
}
.wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar {
  border-radius: 30px;
  width: 225px;
  background-color: #ffffff;
  padding: 20px;
  position: absolute;
  top: 50px;
  bottom: 100px;
  left: 20px;
  height: 85vh;
  transition: all 0.5s ease;
}

.profile {
  margin-bottom: 30px;
  text-align: center;
}

.profile img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile h3 {
  color: #000000;
  margin: 10px 0 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profile a {
  color: rgb(0, 0, 0);
  font-size: 12px;
  text-decoration: none;
}
.profile a:hover,
.profile a.active {
  color: #000000;
  background: #eaf9ff;
  border-radius: 4px;
}
.sidebar ul li {
  list-style-type: none;
}

.sidebar ul li a {
  display: block;
  padding: 13px 30px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  color: #000000;
  background: #eaf9ff;
  border-radius: 8px;
}

.sidebar ul li a:hover.icon,
.sidebar ul li a.active.icon {
  color: #0c7db1;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
  display: block;
}

.data-tables {
  background: #ffffff;
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}
.data-tables h1 {
  color: black;
}
#topCategoriesHorizontalBarChart {
  width: 100%;
  height: 100%;
}

/* Setting Responsive */

@media screen and (max-width :600px){
  header {
    top: auto;
  }
  .header{
    position: statics;
    display: flex;
    flex-direction: column;
  }
  .filter {
    width: 100%;
    margin: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .filter-list{
    margin-top: 20px;
    width: 100%;
    height: auto;
    
  }

  .filter a{
    width: 100%;
    text-align: center;
  }

  #borough-filter,
  .filter-list .date {
    width: 100%;
  }

  .sidebar{
    width: 100%;
    position: static;
    height: auto;
    top : 0%;
    left : 0%;
    bottom :0%;
    border-radius: 0px;
    background-color: #ffffff;
    padding: 20px;
    transition: all 0.5s ease;
  }
  
  main{
    width: 100%;
    margin: 0%;
    left: 0%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
   
  }

  .wrapper .container {
    width: 100%;
  }

  .main {
    display: flex;
    flex-direction: column;

  }

  .top-building {
    background-color: #000000;
    display: flex;
    flex-direction: column;
  }

  section.top-building {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 20px;
  }

  .main-high-building .high-building {
    box-shadow: none;
  }
}

@media screen and (min-width :601px) and (max-width:1200px){
  header {
    top: auto;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .filter {
    width: 100%;
    margin: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .filter-list{
    margin-top: 20px;
    width: 100%;
    height: auto;
    
  }

  .filter a{
    width: 100%;
    text-align: center;
  }

  #borough-filter,
  .filter-list .date {
    width: 100%;
  }

  .sidebar{
    width: 100%;
    position: static;
    height: auto;
    top : 0%;
    left : 0%;
    bottom :0%;
    border-radius: 0px;
    background-color: #ffffff;
    padding: 20px;
    transition: all 0.5s ease;
  }

  main{
    width: 100%;
    margin: 0%;
    left: 0%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
   
  }

  .wrapper .container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .card {
    width: 500px;
  }

  .main {
    display: flex;
    flex-direction: column;

  }

  .top-building {
    background-color: #000000;
    display: flex;
    flex-direction: column;
  }

  section.top-building {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 20px;
  }

  .main-high-building .high-building {
    box-shadow: none;
  }

}
@media screen and (min-width: 1200px) {
  .container_box {
    grid-template-columns: repeat(3, 1fr);
  }
}
